@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #f6f4ff;
}

body {
  color: black;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

main {
  background-color: white;
}

.p-24 {
  padding-top: 7rem;
  padding-bottom: 0;
}
