.mainBody {
  text-decoration: none;
  padding-top: 10vw;
  height: 200vw;
  background-color: rgb(30, 31, 31);
}

.headerImage {
  position: absolute;
  top: 6vw;
  background: url("../Images/ColevilleBackgroundBlurred.jpg");
  width: 100%;
  margin: 0;
  height: 35vw;
}

.headerText {
  color: rgb(231, 174, 39);
  font-style: italic;
  font-size: 1.4vw;
  /*background-color: rgba(244, 244, 244, 0.04);
  border: 3px solid white; */
  font-weight: bold;
  font-style: italic;
  border-radius: 3vw;
  position: absolute;
  top: 22vw;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 40vw;
  padding: 20px;
  text-align: center;
}

.descriptor {
  font-size: 1.4vw;
  line-height: 3vw;
  color: white;
  width: 80vw;
  position: absolute;
  left: 50vw;
  top: 53vw;
  transform: translate(-50%, -50%);
}

.npcExplainer {
  line-height: 3vw;
  left: 25vw;
  width: 30vw;
  font-size: 1.4vw;
  color: white;
  position: absolute;
  top: 82vw;
  transform: translate(-50%, -50%);
}

.npcImage {
  position: absolute;
  right: 13vw;
  top: 64vw;
  width: 33vw;
  border: 0.2vw black solid;
  border-radius: 3vw;
  box-shadow: 0.7vw 0.7vw 20px black;
}

.coleSpell {
  border: 0.2vw black solid;
  border-radius: 3vw;
  box-shadow: 0.7vw 0.7vw 20px black;
  position: absolute;
  top: 120vw;
  transform: translate(-50%, -50%);
  left: 50vw;
  width: 70vw;
}

.spellDescription {
  font-size: 1.4vw;
  line-height: 3vw;

  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50vw;
  top: 147vw;
  width: 65vw;
}

.edPic {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 166vw;
  left: 65vw;
  width: 60vw;
  border: 0.2vw black solid;
  border-radius: 2vw;
  box-shadow: 0.7vw 0.7vw 20px black;
}

.edDescrip {
  color: white;
  font-size: 1.4vw;
  font-style: italic;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 166vw;
  left: 25vw;
  width: 30vw;
}

.pyDescriptor {
  color: white;
  font-size: 1.4vw;
  line-height: 3vw;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50vw;
  top: 188vw;
  width: 75vw;
}

.toGit {
  color: rgb(231, 174, 39);
  font-size: 1.4vw;
  text-decoration: none;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 20vw;
  top: 203vw;
}

.toDiscordpy {
  color: rgb(231, 174, 39);
  font-size: 1.4vw;
  text-decoration: none;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50vw;
  top: 203vw;
}

.nextLink {
  border-radius: 1vw;
  position: absolute;
  top: 203vw;
  right: 1vw;
  transform: translate(-50%, -50%);
}
