.mainBody {
  color: white;
  background-color: rgb(30, 31, 31);
  height: 9vw;
}

.emailIcon,
.instaIcon,
.gitIcon {
  margin-left: 1vw;
  float: left;
  width: 2vw;
}

.instaIcon:hover,
.gitIcon:hover,
.emailIcon:hover {
  -webkit-filter: brightness(60%);
}

.Links {
  padding-top: 1.5vw;
  margin: auto;
  width: 10vw;
}

.missionStatement {
  line-height: 2.1vw;
  text-align: center;
  font-size: 1.2vw;
  width: 30vw;
  position: absolute;
  color: white;
  left: 5vw;
}

.email {
  position: absolute;
  right: 10vw;
  font-size: 2vw;
}
