.main {
  padding-top: 10vw;
  height: 200vw;
  background-color: rgb(30, 31, 31);
}

.profile {
  position: absolute;
  float: left;
  left: 2vw;
  width: 35vw;
  border: 4px black solid;
  border-radius: 50px;
}

.introduction {
  margin-top: 10vw;
  position: absolute;
  right: 10vw;
  width: 40vw;
  height: 40vw;
  color: rgb(252, 248, 238);
  font-size: 1.6vw;
}

.greetingTag {
  position: absolute;
}

.dash {
  position: absolute;
  right: 5vw;
  width: 30vw;
}

.introductionText {
  padding-top: 2vw;
  line-height: 3vw;
}

.projectsTitle {
  margin-top: 57vw;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.8vw;
  width: 10vw;
  color: white;
  font-style: italic;
}
