.linkBody {
  color: white;
  text-decoration: none;
}

.image {
  object-fit: cover;
  width: 40vw;
  height: 40vw;
  border-radius: 2vw;
  box-shadow: 0.5vw 0.5vw 0.8vw black;
  transition: ease all 1s;
}

.hoverText {
  background-color: rgb(45, 45, 45);
  border-radius: 2vw;
  box-shadow: 0.5vw 0.5vw 0.8vw black;
  height: 40vw;
  width: 40vw;
  line-height: 38vw;
  text-align: center;
  font-size: 3.2vw;
  transition: ease all 1s;
}

.pdiv {
  margin-top: 5vw;
  float: left;
  margin-left: 6vw;
  width: 40vw;
  height: 40vw;
}
