.mainBody {
  background-image: url("../Images/WrapperHeader.png");
  height: 200vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  /*background-color: rgb(30, 31, 31);
  height: 200vw;
  color: white;*/
}

/*.headerImage {
  margin: 0;
  width: 100%;
  margin-top: 5vw;
  -webkit-filter: blur(1.9px);
  filter: blur(1.9px);
}*/

.headerText {
  font-size: 1.2vw;
  color: rgb(93, 162, 212);
  /*border: 0.1vw solid rgb(93, 162, 212);*/
  width: 37vw;
  padding: 2vw 2vw 2vw 2vw;
  border-radius: 2vw;
  background: rgba(40, 44, 52, 0.9);
  position: absolute;
  top: 13vw;
  left: 15vw;
  box-shadow: 1vw 1.2vw 10px rgba(29, 32, 37, 1);
  overflow: hidden;
}

.introExplanation {
  color: rgb(93, 162, 212);
  font-size: 1.4vw;
  width: 40vw;
  line-height: 3vw;
  background: rgba(40, 44, 52, 0.9);
  border-radius: 2vw;
  box-shadow: 1vw 1.2vw 10px rgba(29, 32, 37, 1);
  padding: 1vw 1vw 1vw 2vw;
  position: absolute;
  top: 35vw;
  left: 50vw;
}

.wrapperDisplay {
  width: 40vw;
  position: absolute;
  top: 37vw;
  left: 5vw;
  border-radius: 2vw;
  border: 0.3vw solid black;
  box-shadow: 1vw 1.2vw 10px rgba(29, 32, 37, 1);
}

.outro {
  width: 80vw;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 75vw;
  left: 50vw;
  border-radius: 2vw;
  padding: 0vw 1vw 0vw 2vw;
  background: rgba(40, 44, 52, 0.9);
  box-shadow: 1vw 1.2vw 10px rgba(29, 32, 37, 1);
  color: rgb(93, 162, 212);
  font-size: 1.4vw;
  line-height: 3vw;
}
