.mainBody {
  color: white;
  padding-top: 10vw;
  height: 70vw;
  background-color: rgb(30, 31, 31);
}

.headerImage {
  margin: 0;
  width: 100%;
  position: absolute;
  top: 0;
  height: 32vw;
  object-fit: cover;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.headerTitle {
  color: rgb(231, 174, 39);
  font-size: 1.2vw;
  position: absolute;
  top: 13vw;
  left: 20vw;
  border: 2px solid rgb(231, 174, 39);
  padding: 2vw 2vw 2vw 2vw;
  border-radius: 3vw;
  background-color: rgba(0, 0, 0, 0.5);
}

.explanation {
  position: absolute;
  font-size: 1.4vw;
  width: 80vw;
  top: 43vw;
  left: 50vw;
  line-height: 3vw;
  transform: translate(-50%, -50%);
}

.cleverImage {
  position: absolute;
  top: 57vw;
  left: 8vw;
}

.cleverExplanation {
  position: absolute;
  font-size: 1vw;
  font-style: italic;
  transform: translate(-50%, -50%);
  top: 61vw;
  width: 18vw;
  line-height: 2.5vw;
  left: 75vw;
}

.gitLink {
  color: rgb(231, 174, 39);
  position: absolute;
  font-size: 1.4vw;
  top: 74vw;
  left: 15vw;
  text-decoration: none;
}

.inner {
  text-decoration: inherit;
  color: inherit;
}

.nextLink {
  padding: 1vw 1vw 1vw 1vw;
  border-radius: 3vw;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 74vw;
  left: 66vw;
}

.nextLink:hover {
  background-color: rgba(231, 174, 39, 0.4);
}
